@charset "UTF-8";

@media screen and (max-width:563px) {
    header{
        display: block;
    }
    
    header nav{
        flex-flow: column nowrap;
        justify-content: center;
    }

    nav a{
        display: block;
        margin: 0px;
        border: 1px solid rgba(255, 255, 255, 0.47);
    }
    
}